body {
  background-color: rgb(58, 58, 251);
}
.loginform {
  padding: 20px;
  margin: 100px;
  margin-top: 150px;
  margin-bottom: 50px;
  border: 1px solid black;
  width: fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 5px;
}
.headlogin {
  padding: 10px;
  margin: 5px;
  #head {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(58, 58, 251);
  }
}
.inputfamily {
  #email {
    width: 300px;
    padding: 10px;
    border: none;
  }
  #password {
    width: 300px;
    padding: 10px;
    border: none;
  }
}
.remember {
  padding: 2px;
  margin: 5px;
  a {
    padding-left: 40px;
    margin-left: 40px;
    text-decoration: none;
    color: rgb(58, 58, 251);
    font-weight: bold;
  }
}
.buttonfamily {
  padding: 10px;
  #login {
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(58, 58, 251);
    border-color: rgb(58, 58, 251);
    color: white;
    width: 300px;
  }
}
.singup {
  padding: 10px;
  #do {
    margin-left: 30px;
  }
  #sign {
    font-weight: bold;
    text-decoration: none;
    color: rgb(58, 58, 251);
  }
}

