
h1{
    background:linear-gradient(90deg,pink,blue,yellow);
}
.head2
{
    background: radial-gradient(orange,white,aqua);
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    text-shadow: 5px, 5px, 34px, black;
    color: brown;
    
}
#box
{
    width: 40%;
    border: 14px solid red;
    box-shadow: 10px 10px 5px 2px;
}
