body {
  background-color: aqua;
}
.container {
  width: 350px;
  height: 430px;
  padding: 10px;
  margin: 90px auto;
  border-radius: 20px;
  background-color: black;
}
.head {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  input {
    width: 320px;
    height: 50px;
    background-color: gainsboro;
  }
  input[type="text"] {
    font-size: 1.2em;
  }
}
#op1 {
  height: 50px;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  button {
    width: 70px;
    border-radius: 5px;
    font-size: 1.2em;
    background-color: gainsboro;
    cursor: pointer;
  }
}
.equal {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  height: 50px;
  button {
    width: 308px;
    height: 50px;
    font-size: 2em;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
  }
}
