* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.945);
  color: black;
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  h3 {
    font-size: 18px;
  }
  .link {
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    #links {
      a {
        text-decoration: none;
        color: black;
        font-size: medium;
        margin-right: 10px;
      }
      i {
        margin-right: 10px;
        font-size: large;
      }
    }
  }
  #button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    #signin {
      background-color: white;
      font-weight: bold;
      border: none;
      border-radius: 10px;
      width: 90px;
      height: 40px;
      cursor: pointer;
      margin-right: 10px;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #signin:hover {
      background-color: rgb(198, 191, 191);
      font-weight: bold;
      border: none;
      border-radius: 10px;
      width: 90px;
      height: 40px;
      cursor: pointer;
      margin-right: 10px;
      font-size: 12px;
      transform: scale(1.23s);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #blocks {
      background-color: black;
      color: white;
      width: 90px;
      height: 40px;
      border: none;
      border-radius: 10px;
      font-size: 12px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    #blocks:hover {
      background-color: black;
      color: white;
      width: 90px;
      height: 40px;
      border: none;
      border-radius: 10px;
      text-decoration: underline;
      font-size: 12px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 2px 5px rgb(104, 101, 101);
      cursor: pointer;
    }
  }
}
.hero {
  display: inline-block;
  .container {
    h1 {
      margin-top: 50px;
      margin-left: 25px;
      font-size: 48px;
    }
    p {
      margin-top: 20px;
      margin-left: 25px;
      color: grey;
      font-size: 20px;
    }
  }
  .emailsection {
    margin-left: 25px;
    label {
      font-size: 14px;
    }
    #email {
      width: 360px;
      height: 40px;
      border: 1px solid grey;
      border-radius: 8px;
      margin-top: 10px;
    }
    #required {
      width: 150px;
      height: 40px;
      color: white;
      background-color: black;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer;
    }
    #required:hover {
      width: 150px;
      height: 40px;
      color: white;
      background-color: black;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer;
      box-shadow: 0px 2px 5px rgb(99, 99, 99);
    }
    #below {
      margin-top: 10px;
      font-size: medium;
      color: grey;
    }
    a {
      color: grey;
    }
  }
}
.profileimage {
  width: 625px;
  height: 600px;
  margin-left: 100px;
  margin-top: 50px;
  display: inline-block;
  img {
    width: 625px;
    height: 600px;
    border: 1px solid black;
    border-radius: 10px;
    object-fit: cover;
  }
}
.clients {
  margin-left: 25px;
  margin-top: 100px;
  #chead {
    text-align: center;
    font-weight: bold;
  }
  .logosection {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 30px;
    justify-content: center;
    img {
      width: 180px;
    }
  }
}
.skills {
  margin-top: 80px;
  #shead {
    font-weight: bold;
    text-align: center;
  }
  h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 48px;
  }
  #headbelow {
    margin-top: 20px;
    color: grey;
    text-align: center;
    font-size: 20px;
  }
  .discoverskill {
    margin-top: 100px;
    margin-left: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    #sk {
      width: 330px;
      height: fit-content;
      i {
        padding: 10px;
        margin-left: 140px;
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 30px;
        border-radius: 30px;
        background-color: black;
        color: white;
      }
      h3 {
        text-align: center;
      }
      p {
        margin-top: 20px;
        text-align: center;
        color: grey;
      }
    }
  }
}
.projects {
  margin-top: 100px;
  h1 {
    text-align: center;
    font-size: 36px;
  }
  #probelow {
    margin-top: 30px;
    text-align: center;
    color: grey;
    font-size: 20px;
  }
  #projectimage {
    margin-top: 100px;
    margin-left: 25px;
    width: 300px;
    height: fit-content;
    display: inline-block;
    img {
      width: 300px;
      display: inline-block;
      border-radius: 10px;
      margin-bottom: 20px;
    }
    a {
      text-decoration: none;
      font-size: 20px;
      color: black;
      font-weight: bold;
    }
    p {
      margin-top: 20px;
      font-size: 16px;
      color: grey;
    }
    #see {
      padding: 10px;
      margin-top: 20px;
      border-radius: 8px;
      background-color: black;
      color: white;
      font-weight: bold;
      cursor: pointer;
      font-size: 12px;
    }
    #see:hover {
      padding: 10px;
      margin-top: 20px;
      border-radius: 8px;
      background-color: black;
      color: white;
      font-weight: bold;
      cursor: pointer;
      font-size: 12px;
      box-shadow: 0px 2px 5px rgb(162, 160, 160);
    }
  }
}
.resume {
  margin-top: 100px;
  margin-left: 25px;
  #myresume {
    width: 450px;
    display: inline-block;
    h1 {
      font-size: 36px;
    }
    #resumebel {
      font-size: 16px;
      color: grey;
      width: 450px;
    }
    #btnr {
      margin-top: 30px;
      margin-left: 30px;
      border: none;
      border-radius: 5px;
      width: 150px;
      height: 30px;
      background-color: white;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
    }
    #btnr:hover {
      margin-left: 30px;
      border: none;
      border-radius: 5px;
      width: 150px;
      height: 30px;
      background-color: rgb(194, 194, 194);
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
      transform: scale(1.05);
    }
  }
  #qualify {
    width: 450px;
    margin-left: 400px;
    display: inline-block;
    #qual {
      font-size: 16px;
      color: grey;
      margin-left: 10px;
    }
    i {
      margin-top: 20px;
      font-size: 40px;
    }
  }
}
.clientsay {
  margin-top: 100px;
  #ch {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
  }
  #cbelow {
    text-align: center;
    color: grey;
    font-size: 20px;
  }
  #mobileapp {
    margin-top: 100px;
    margin-left: 200px;
    padding: 50px;
    width: 400px;
    height: fit-content;
    display: inline-block;
    #mobh {
      font-size: 30px;
    }
    #mobelow {
      margin-top: 20px;
      color: grey;
      font-size: 16px;
    }
    h4 {
      font-size: 16px;
      margin-top: 20px;
    }
  }
  #clientpic img {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    border-radius: 10px;
  }
  .imagec {
    margin-top: 100px;
    margin-left: 200px;
    width: 400px;
    height: fit-content;
    display: inline-block;
    img {
      border-radius: 10px;
    }
  }
}
.pc {
  #ph {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: grey;
    margin-top: 200px;
  }
  #pb {
    text-align: center;
    margin-top: 30px;
    font-size: 36px;
  }
  #pimg {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 20px;
    justify-content: center;
    img {
      width: 180px;
      filter: grayscale(100%);
    }
  }
}
.contactus {
  margin-top: 150px;
  #contacthead {
    font-size: 48px;
    text-align: center;
  }
  #cop {
    margin-top: 20px;
    font-size: 20px;
    color: grey;
    text-align: center;
  }
  .contactform {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid grey;
    border-radius: 10px;
    height: 490px;
    box-shadow: 0px 5px 3px rgb(95, 93, 93);
    display: grid;
    grid-template-columns: auto auto;
    #formcontain {
      margin-top: 20px;
      margin-left: 20px;
      border-radius: 10px;
      width: 500px;
      height: 450px;
      background-color: black;

      #fh {
        font-size: 24px;
        margin-left: 50px;
        margin-top: 50px;
        color: white;
      }
      #fp {
        font-size: 16px;
        margin-left: 50px;
        margin-top: 10px;
        margin-bottom: 30px;
        color: white;
      }
      #detailc {
        margin-left: 50px;

        i {
          font-size: 25px;
          margin-bottom: 15px;
          color: white;
        }
        #text {
          margin-left: 20px;
          color: white;
          font-weight: bold;
        }
      }
    }
    #cform {
      width: 650px;
      height: 420px;
      padding: 10px;
      margin-left: 70px;
      margin-top: 22px;
      label {
        color: rgba(100, 128, 142);
      }
      #fname {
        border: none;
        width: 300px;
        height: 20px;
      }
      input:focus {
        outline: none;
      }
      #lname {
        border: none;
        width: 300px;
        height: 20px;
      }
      #f {
        margin-right: 10px;
        margin-bottom: 20px;
      }
      #l {
        margin-bottom: 20px;
      }
      #email {
        width: 600px;
        height: 20px;
        margin-bottom: 10px;
        border: none;
      }
      #e {
        width: 600px;
        margin-bottom: 15px;
      }
      #radio {
        padding: 10px;
        margin-top: 15px;
        margin-bottom: 50px;
        cursor: pointer;
        transition: box-shadow 0.3s ease;
      }
      #radio:hover {
        box-shadow: 2px 2px 8px grey;
      }
      #message {
        border: none;
      }
      #message:focus {
        outline: none;
      }
      #m {
        width: 600px;
      }
      #btn {
        margin-top: 30px;
        margin-left: 460px;
        width: 140px;
        height: 40px;
        border-radius: 5px;
        background-color: black;
        color: white;
        font-size: 12px;
        font-weight: bold;
      }
      #btn:hover {
        margin-top: 30px;
        margin-left: 460px;
        width: 140px;
        height: 40px;
        border-radius: 5px;
        background-color: black;
        color: white;
        font-size: 12px;
        font-weight: bold;
        box-shadow: 0px 2px 5px rgb(171, 167, 167);
      }
    }
  }
}
#fhr {
  margin-top: 180px;
  margin-left: 25px;
  margin-right: 25px;
}
.footer {
  height: 80px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20%;
  .pfooter {
    width: 600px;
    height: 50px;
    margin-left: 25px;
    #pf {
      color: grey;
      margin-top: 30px;
    }
  }
  .linksf {
    width: 400px;
    margin-top: 30px;
    a {
      color: grey;
      text-decoration: none;
      margin-right: 20px;
    }
    a:hover {
      color: black;
      text-decoration: none;
    }
    #btnf {
      width: 100px;
      height: 30px;
      background-color: black;
      color: white;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;
    }
    #btnf:hover {
      width: 100px;
      height: 30px;
      background-color: black;
      color: white;
      font-weight: bold;
      border-radius: 5px;
      box-shadow: 0px 2px 5px rgb(171, 167, 167);
      cursor: pointer;
    }
  }
}
