*body{
    margin: 0;
    padding: 0;
}
#box{
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    height: 150px;
    position: absolute;
    animation: boxanime 20s linear infinite;
}
@keyframes boxanime {
    0%{
        top: 0px;
        left: 0px;
        background-color: aqua;
    }
    25%{
        top: 0px;
        left: 500px;
        background-color: greenyellow;
    }
    50%{
        top: 500px;
        left: 500px;
        background-color: bisque;
    }
    75%{
        top: 500px;
        left: 0px;
        background-color: red;
    }
    100%{
        top: 0px;
        left: 0px;
        background-color: chartreuse;
    }
}