#brand {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(90deg, #ffcc00, #ff6a00, #ff0099, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.link {
  font-weight: bold;
}
.link:hover {
  color: orange !important;
  text-decoration: overline;
}
nav {
  position: sticky !important;
  top: 0 !important;
  z-index: 1;
}
#get {
  transition: transform 0.3s ease-in-out, background-color 0.5s ease-in-out;
}
#get:hover {
  background-color: orange;
  transform: translateY(-3px);
}
.card {
  height: 850px;
}
.card2{
  height: 500px;
}
