#btn {
  width: 100px;
  border: 1px solid black;
  background-color: aquamarine;
  border-radius: 10px;
  #a {
    display: inline;
  }
  #b {
    display: none;
  }
}
#btn:hover {
  #a {
    display: none;
  }
  #b {
    display: inline;
  }
}
#d1 ,#d2, #d3, #d4 {
  border: 1px solid black;
  width: 300px;
  height: 100px;
  display: inline-block;
}
