#v1 {
  border: 1px solid black;
  width: 300px;
  height: 100px;
  font-size: 50px;
  background-color: aquamarine;
  padding: 80px;
  margin: 20px;
}
#v1 span {
  background: linear-gradient(45deg, red, yellow, green);
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1px black;
}
#v2 {
  border: 1px solid red;
  border-radius: 20px;
  width: 300px;
  height: 100px;
  font-size: 50px;
  background-color: rgb(22, 240, 69);
  margin: 0 0 0 50px;
  padding: 10px 20px 30px 40px;
  box-shadow: 5px 5px 10px 1px black;
}
